[submodule "externals/json-rpc2php"]
	path = externals/json-rpc2php
	url = https://github.com/subutux/json-rpc2php.git
[submodule "externals/fastclick"]
	path = externals/fastclick
	url = https://github.com/ftlabs/fastclick.git
[submodule "externals/jquery-ui-timepicker-addon"]
	path = externals/jquery-ui-timepicker-addon
	url = https://github.com/trentrichardson/jQuery-Timepicker-Addon.git
[submodule "externals/jquery-ui"]
	path = externals/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "externals/pivot"]
	path = externals/pivot
	url = https://github.com/rjackson/pivot.js.git
[submodule "externals/DataTables"]
	path = externals/DataTables
	url = https://github.com/DataTables/DataTables.git
[submodule "externals/Chart"]
	path = externals/Chart
	url = https://github.com/nnnick/Chart.js.git
[submodule "externals/js.tree"]
	path = externals/js.tree
	url = https://github.com/resnyanskiy/js.tree.git
[submodule "externals/fullcalendar"]
	path = externals/fullcalendar
	url = https://github.com/arshaw/fullcalendar.git
[submodule "externals/jquery-ui-touch-punch"]
	path = externals/jquery-ui-touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
